{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indie</title>
    <link rel="stylesheet" href="{% static 'css/home/estruturamain.css' %}">

</head>
<body>

    <main>


        <section id="container">
            <table>
                <!-- <caption> </caption> -->
                <thead>
                    <tr>
                        <th class="sdata" colspan="6">Binary Parameters</th>
                    </tr>
                    <tr>
                        <th>KIC/EPIC</th>
                        <th>period</th>
                        <th>period error</th>
                        <th>bjd0</th>
                        <th>bjd0 error</th>
                        <th>figs</th>
                    </tr>

                </thead>
                <tbody>

                    <tr>
                        <td class="KIC/EPIC">3641446</td>
                        <td class="Period">0.0532682b</td>
                        <td class="Period_error">0.0000000</td>
                        <td class="bjd0">0.0000000</td>
                        <td class="bjd0_error">0.0000000</td>
                        <td class="LC Figs">0.0000000</td>
                    </tr>

                    <tr>
                        <td class="KIC/EPIC">3641446</td>
                        <td class="Period">0.0532682b</td>
                        <td class="Period_error">0.0000000</td>
                        <td class="bjd0">0.0000000</td>
                        <td class="bjd0_error">0.0000000</td>
                        <td class="LC Figs">0.0000000</td>
                    </tr>

                    <tr>
                        <td class="KIC/EPIC">3641446</td>
                        <td class="Period">0.0532682b</td>
                        <td class="Period_error">0.0000000</td>
                        <td class="bjd0">0.0000000</td>
                        <td class="bjd0_error">0.0000000</td>
                        <td class="LC Figs">0.0000000</td>
                    </tr>

                    <tr>
                        <td class="KIC/EPIC">3641446</td>
                        <td class="Period">0.0532682b</td>
                        <td class="Period_error">0.0000000</td>
                        <td class="bjd0">0.0000000</td>
                        <td class="bjd0_error">0.0000000</td>
                        <td class="LC Figs">0.0000000</td>
                    </tr>

                    <tr>
                        <td class="KIC/EPIC">3641446</td>
                        <td class="Period">0.0532682b</td>
                        <td class="Period_error">0.0000000</td>
                        <td class="bjd0">0.0000000</td>
                        <td class="bjd0_error">0.0000000</td>
                        <td class="LC Figs">0.0000000</td>
                    </tr>

                    <tr>
                        <td class="KIC/EPIC">3641446</td>
                        <td class="Period">0.0532682b</td>
                        <td class="Period_error">0.0000000</td>
                        <td class="bjd0">0.0000000</td>
                        <td class="bjd0_error">0.0000000</td>
                        <td class="LC Figs">0.0000000</td>
                    </tr>

                    <tr>
                        <td class="KIC/EPIC">3641446</td>
                        <td class="Period">0.0532682b</td>
                        <td class="Period_error">0.0000000</td>
                        <td class="bjd0">0.0000000</td>
                        <td class="bjd0_error">0.0000000</td>
                        <td class="LC Figs">0.0000000</td>
                    </tr>

                    <tr>
                        <td class="KIC/EPIC">3641446</td>
                        <td class="Period">0.0532682b</td>
                        <td class="Period_error">0.0000000</td>
                        <td class="bjd0">0.0000000</td>
                        <td class="bjd0_error">0.0000000</td>
                        <td class="LC Figs">0.0000000</td>
                    </tr>

                    <tr>
                        <td class="KIC/EPIC">3641446</td>
                        <td class="Period">0.0532682b</td>
                        <td class="Period_error">0.0000000</td>
                        <td class="bjd0">0.0000000</td>
                        <td class="bjd0_error">0.0000000</td>
                        <td class="LC Figs">0.0000000</td>
                    </tr>

                    <tr>
                        <td class="KIC/EPIC">3641446</td>
                        <td class="Period">0.0532682b</td>
                        <td class="Period_error">0.0000000</td>
                        <td class="bjd0">0.0000000</td>
                        <td class="bjd0_error">0.0000000</td>
                        <td class="LC Figs">0.0000000</td>
                    </tr>

                    <tr>
                        <td class="KIC/EPIC">3641446</td>
                        <td class="Period">0.0532682b</td>
                        <td class="Period_error">0.0000000</td>
                        <td class="bjd0">0.0000000</td>
                        <td class="bjd0_error">0.0000000</td>
                        <td class="LC Figs">0.0000000</td>
                    </tr>

                    <tr>
                        <td class="KIC/EPIC">3641446</td>
                        <td class="Period">0.0532682b</td>
                        <td class="Period_error">0.0000000</td>
                        <td class="bjd0">0.0000000</td>
                        <td class="bjd0_error">0.0000000</td>
                        <td class="LC Figs">0.0000000</td>
                    </tr>


                    

                </tbody>
            </table>

                
        <article class="pagecontrol2">
            <p> | Page 1 of 20 | <a class="next" href="{% url 'home02' %}"> Next</a> </p> 
        </article>

        </section>



    </main>




</body>
</html>
{% endblock %}